
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*VARIÁVEIS*/
:root{
    --pcolor: #26e07f;
    --bcolor: #224910;
    --fcolor: #7d7d7d;
}

body{
    margin: 0;
}

.bar{
    background-color: var(--bcolor);
    width: 170px;
    height:5px;
    margin: 30px 0 25px; 
}

h2{
    font-family: "Mallanna", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 42px;
    color: #101d37;
    text-align: left;
    margin-bottom:auto;

}
.container{
    max-width: 1140px;
    margin: auto;
}

/* HEADER */

.line{
    background-color: #f6f5f0;
}

.header--line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:35px;
}
.line--right,
.header--right{
    display: flex;
    justify-content: flex-end;
    flex:1;
}
.introline-left{
    display: flex;
    align-items: center;
}
.line-logo{
    height:18px;
    margin-right:8px;
}
.span1{
    color: #b3b2ad;
}
.span2{
    color: #888783;
}
.line--left,
.header--left{
    display: flex;
    justify-content: space-between;
    flex:2;
}
.social-logos{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.social-logos a{
    margin-left:7px;
}

.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:115px;
}
.logo img{
    width:200px;
}
header .menu{
    display: flex;
    align-items: center;
}
header .menu ul{
    display: flex;
    justify-content: space-between;
    padding:0;

}
header .menu li{
    list-style-type: none;
    font-size: 18px;
    margin:0
}
header .menu a{
    font-family:  'PT Serif', serif;
    display:block;
    margin-left:35px;
    text-decoration: none;
    color:#434248;
}
nav .active, nav li a:hover{
    color: var(--pcolor);
}

.button{
    font-family: open sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 31px;
    border: 2px solid var(--pcolor);
    transition: all 0.3s;
    width: fit-content;
}
.button:hover{
    background-color: var(--pcolor);
    color: #FFF;
}

/*SLIDE SECTIONS*/

.slider{
    width: 100vw;
    height:700px;
    overflow: hidden;
}
.slider--area{
    height:100%;
    display: flex;
    transition: all ease 0.3s;

}
.slider--item{
    width: 100vw;
    height:inherit;
    background-position: center;
    background-size: cover;
}
.slider--information{
    position: absolute;
    height:630px;
    display: flex;
    flex-direction: column; 
}

.info-area1{
    flex:3;
    color:#FFF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info-area1 h6{
    font-size:18px;
    margin-right:auto;
    letter-spacing: .15em;
    text-transform: uppercase;
}
.slider--text2{
    display: flex;
    align-items: center;
}
.slider--text2 img{
    height:50px;
    margin-right: 10px;
}
.slider--text2 a{
    text-decoration:none;
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    transition: all 0.3s;
}
.slider--text2 a:hover{
    color: var(--pcolor);
}
.slider--buttons{
    display:flex;
    padding:auto;
    margin: 20px 0;
}
.slider--button1, .slider--button2{
    display: flex;
    margin: 20px 30px 20px 0;
    padding:20px 20px;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.slider--button1{
    background-color: var(--pcolor);
    transition: all 0.3s;
}
.slider--button1:hover{
    background-color: #224910;
}
.slider--button2{
    background-color: #224910;
    transition: all 0.3s;
}
.slider--button2:hover{
    background-color: var(--pcolor);
}
.slider--button-img{
    height: 20px;
    margin:  0 0 0 10px;
}
.slider--button1 h6, .slider--button2 h6{
    font-size:18px;
    margin-right:auto;
    letter-spacing: .15em;
    text-transform: uppercase;
    margin: auto;
}

.info-area2{
    flex:1;
    display: flex;
}

.slider--controls{
    display:flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
.slider--controls h6{
    font-size:23px;
    color: white;
}
.slider--controls img{
    cursor: pointer;
}

/* AREA 1 */

.area1{
    display: flex;
}
.area1--info{
    margin-right: 20px;
    width: 37vw;
    height:530px;
}
.area1--info span,
.area2--div span,
.area2--div-fim span{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.625;
    color: var(--fcolor);
    text-align:left;
}
.area1--img{
    width: 40vw;
    height: 530px;
    background-image: url("../images/tools2.png");
    background-size: cover;
    position: absolute;
    right:0px;
}

/* AREA2 */

.area2{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    height:300px;
    margin-bottom: 44px;
}
.area2--div,
.area2--div-fim{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    height:300px;
    padding-top: 15px;
    height:auto;
}
.area2--div{
    border-right: 1px solid #e8e8e8;
    height:max-content;
}
.area2--div:hover,
.area2--div-fim:hover{
    background-color: #e8e8e8;
}
.area2--div img,
.area2--div-fim img{
    width:80px;
}
.area2--div h3,
.area2--div-fim h3{
    font-family: "Mallana", sans-serif;
    font-size: 35px;
    color: var(--pcolor);
    line-height: 1.333;
    font-weight: normal;
}
.area2--div span,
.area2--div-fim span{
    margin: 0 50px 30px 50px;
    padding:0;
    text-align: center;
}

/* AREA3 */

.area3{
    background-color: #f6f5f0;
}
.area3--service{
    display:flex;
}
.area3--div{
    height: 600px;
    display: flex;
    align-items: center;
}

#l0, #l1, #l2, #l3, #l4, #l5, #l6, #l7{
    padding: 0;
    border-right: 1px solid #e9e8e3;
    width:16vw;
    cursor: pointer;
    list-style: none;
    font-family: "Mallanna", sans-serif;
    color: var(--fcolor);
    font-size: 22px;
}
#active{
    padding:  0;
    box-sizing: border-box;
    border-right: 2px solid var(--bcolor);
    width:16vw;
    cursor: pointer;
    list-style: none;
    font-family: "Mallanna", sans-serif;
    color: #141e1f;
    font-size: 22px;
}
#lista li:hover{
    box-sizing: border-box;
    border-right: 2px solid var(--bcolor);
    color: #141e1f;
}
#lista{
    padding:0;
}
.area3--desc{
    display: flex;
    flex-direction: column;
}
.area3--desc h6{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #101D37;
}
.area3--desc-infoarea{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 75%;
}
.infoarea--img{
    width:90%;
    height:80%;
    background-size: cover;
    background-position:center;
    margin-right: 30px;
}
.infoarea--info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.infoarea--info h4{
    font-family: "Mallanna", sans-serif;
    font-size: 22px;
    color: #101d37;
    font-weight:500;
    line-height: 1.625;
    margin:0;
}
.infoarea--text{
    font-family:"Opens Sans", sans-serif;
    color: var(--fcolor);
    line-height: 1.625;
    font-size: 16px;
}

/* AREA 4 */

.area4{
    height: 440px;
    background-image: url(../images/rocadeira4\(2\).jpg);
    background-size:cover;
    background-position:bottom;
    padding-top: 90px ;
}
.area4--div h3{
    margin: 0;
    color: #FFF;
    font-family: "Mallanna", sans-serif;
    font-size: 30px;
    font-weight: 100;
}
.area4--div p{
    margin-top: 20px 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight:400;
    color: #FFF;
    line-height: 1.625;
}
.area4-button{
    margin-top: 90px;
    font-family: open sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 31px;
    border: 2px solid #FFF;
    transition: all 0.3s;
    color: var(--bcolor);
    width: fit-content;
    background-color: #FFF;
}
.area4-button:hover{
    background-color:transparent;
    color: #FFF;
    border-color:#FFF;
}